<nav class="navbar navbar-expand-md navbar-dark sticky-top" >  
      <a class="navbar-brand" href="#">DA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/">Home </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/documentUpload" routerLinkActive="active">Sell</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/documentDownload" routerLinkActive="active">Buy</a>
          </li>   
          <li class="nav-item ">
              <a class="nav-link" routerLink="/activity" routerLinkActive="active">Activity</a>
            </li>       
        </ul>  
        <ul class="navbar-nav" >             
            <a class="nav-link"  *ngIf="!usersService.loggedIn()" href="/login" (click)="logout()">Login</a>
            <a class="nav-link"  *ngIf="!usersService.loggedIn()" href="/register" (click)="logout()">Register</a>
           <a class="nav-link"  style="cursor:pointer" *ngIf="usersService.loggedIn()" (click)="usersService.logout()">Logout</a>            
        </ul>           
      </div>   
</nav>       
      
