<form (ngSubmit) = "createOrUpdate()">
  <div class="form group">
    <label for="id">ID</label>
    <input type="text" name="_id" [(ngModel)] = "users._id" class="form-control"/>
  </div>

  <div class="form group">
      <label for="name">name</label>
      <input type="text" name="name" [(ngModel)] = "users.name" class="form-control"/>
    </div>
    <div class="form group">
        <label for="capital">Capital</label>
        <input type="text" name="capital" [(ngModel)] = "users.capital" class="form-control"/>
      </div>
      <input type="submit" value="submit" class="btn btn success">
</form>