<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Documents Arena</title>    
   
  </head>

  <body style="background-color: #f44336;">                  
      <div class="container-fluid" align="center">
      <section class="form-simple">

        <!--Form with header-->
        <div class="card">        
            <div class="card-body">
              <div class="form-row">                                                          
                       <div class="col-8">
                          <input type="text" id="streetAddress" #streetAddress placeholder="Search for File" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search>
                        </div>
                        <div class="col">
                      <button type="button" class="btn btn-primary btn-block z-depth-2" (click)="searchDocument(streetAddress.value)"><i class="fa fa-search" style="float:left"></i> Search</button>
                      </div>  
              </div>                    
              </div>                 
      </div>
        <!--/Form with header-->
        <div class="card" *ngIf="documentCardIsVisible">             
            <div class="card-body" *ngFor = "let document of documentsFound">
              <div class="form-row">
                <div class="form-group col-10 document-card">
                  <span style = "display:block; margin-bottom:0.5em;"> {{document.fileAddress}}, {{document.fileCity}}, {{document.fileState}}, {{document.fileCountry}} By <span style = "color:#0062cc"> {{document.firstName}} {{document.lastName}} </span></span>
                  <span style = "display:block">Price: <span style="color:#1e7e34"> <i class="fa fa-usd"></i> {{document.filePrice}}</span> </span>
                </div>
                <div class="form-group col">
                    <button type="button" class="btn btn-success btn-block z-depth-2" (click)="openCheckout(document.filePrice, document.documentPath, streetAddress.value)"><i class='fa fa-arrow-down'></i> Download</button>                  
                </div>
              </div>              
        </div>                 
      </div>

      <div class="alert alert-warning" role="alert" *ngIf="notFoundIsVisible">
          <strong>Sorry!</strong>  No documents were found for that address.
        </div>               
    
    </section>    
  </div>       
  </body>

</html>




