<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Documents Arena</title>    

  </head>

  <body id="page-top">    

    <header style="background-color: #f44336">       
      <div class="container text-center" style="color:white;">
        <p class="display-4">DOCUMENTS ARENA</p>
        <p class="lead">Simply Buy and Sell documents!</p>
        <hr class="my-4">
        <a class="btn btn-success"  role="button"  style="margin-right:15px; width:150px " (click)="newDocument($event)">Sell</a>
        <a class="btn btn-primary" href="/documentDownload" role="button" style="width: 150px">Buy</a>
      </div>
      
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About this page</h2>
            <p class="lead">This is a great place to sell or buy documents. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
          </div>
        </div>
      </div>
    </section>

    

    

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>

  </body>

</html>

